<div ngClass="container justify">
    <h1>Contact Us !</h1>
<h2 style="text-align: center">
  Welcome to <span id="W_Name"> freshercareers.in</span>!
</h2>

<p style="font-size: 17px">
  Please email us if you have any queries about the site, advertising, or
  anything else.
</p>

<div style="text-align: center">
  <img
    alt="contact-us"
    height="87"
    src="https://lh3.googleusercontent.com/-BA7qy8h_v1g/YLVCWDNZdCI/AAAAAAAAALw/rsHNJWX0BK4P5CuB0ymG8QkJ9A9E8KchgCLcBGAsYHQ/w320-h87/email-us-1805514__480.webp"
    width="320"
  />

  <p >
    <i
      class="fas fa-envelope-open-text"
      style="color: #2c3e50; font-size: 20px"
    ></i>
    <b
      ><i>
        <span id="W_Email"
          ><a href="mailto:freshercareersdotin@gmail.com">
            freshercareersdotin@gmail.com</a
          ></span
        ></i
      ></b
    ><br />

   

  <h3 style="text-align: center; color: #3e005d">
    We will revert you as soon as possible...!
  </h3>
  <p style="text-align: center; color: #3e005d">
    Thank you for contacting us! <br /><b>Have a great day</b>
  </p>
</div>
</div>
