.carousal-block {
  display: flex;
  gap: 0.25rem;
  
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 5px;
}
.carousel {
/* flex-shrink: 2; */
width: 75%;
}
.banner-ads {
  background-color: rgba(0, 0, 0, 0.5);
  width: max-content;
  text-align: center;
  flex-grow: 1;
}
