<!-- <p>
  <mat-toolbar color="accent">
    <img
      src="../../../../../assets/logo_main.webp"
      alt=""
      height="30px"
      width="30px"
      style="border-radius: 50%"
    />
    &nbsp; <span>fresherCarrers.in</span>
  </mat-toolbar>
</p> -->
<nav
  class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="">freshercareers</a>
    <div class="social-media order-lg-last">
      <p class="mb-0 d-flex">
        <a
          href="https://www.facebook.com/freshejobs/"
          target="_blank"
          class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-facebook"
            ><i class="sr-only">Facebook</i></span
          ></a
        >
        <!-- <a href="#" class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a
        > -->
        <a
          href="https://www.instagram.com/freshercareers.in/?hl=en"
          target="_blank"
          class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-instagram"
            ><i class="sr-only">Instagram</i></span
          ></a
        >
        <a
          href="https://t.me/freshercareersdotin"
          target="_blank"
          class="d-flex align-items-center justify-content-center"
          ><span class="fa fa-telegram"
            ><i class="sr-only">telegram</i></span
          ></a
        >
      </p>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto mr-md-3">
        <li class="nav-item active" routerLinkActive="active">
          <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/advertise"  class="nav-link">Advertise with us</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/postjob" class="nav-link">post A job</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<mat-divider></mat-divider>
