<mat-divider></mat-divider>

<mat-card ngClass="mat-card">
  <div ngClass="mat-card-form">
    <form
      class="form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit(registerForm)"
    >
      <button>
        <svg
          width="17"
          height="16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-labelledby="search"
        >
          <path
            d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
            stroke="currentColor"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      <input
        class="input"
        placeholder="search by Skill, Company & job title "
        required
        minlength="3"
        type="text"
        name="username"
        formControlName="username"
      />
      <button>
        <!-- <p>search</p> -->
        <svg
          stroke-width="4"
          stroke="currentColor"
          viewBox="0 0 24 24"
          fill="none"
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14 5l7 7m0 0l-7 7m7-7H3"
            stroke-linejoin="round"
            stroke-linecap="round"
          ></path>
        </svg>
      </button>
    </form>
  </div>
  <div
    *ngIf="
      registerForm.get('username')?.invalid &&
      (registerForm.get('username')?.touched ||
        registerForm.get('username')?.touched)
    "
  >
   <i style="color: #fff">**min 3 characters required</i>
  </div>
</mat-card>
