<div class="container px-4 mt-4">
  <div class="row gx-4 justify-content-center">
    <div class="col-lg-10">
      <h2>freshercareers.online</h2>
      <p class="lead">
        Fill the details and submit the form. we'll get back to u as soon as
        possible
      </p>
      <br />
      <div>
        <form
          method="POST"
          ngNoForm
          action="https://formpost.app/support@freshercareers.online"
        >
          <input
            type="hidden"
            name="fp_redirect"
            value="https://freshercarees.online/success"
          />
          <input type="hidden" name="fp_subject" value="Req: For Advertise" />
          <input type="hidden" name="fp_reply" value="true" />
          <input
            type="hidden"
            name="fp_reply_message"
            value="Thank you for contacting us! we have received your mail"
          />
          <input type="hidden" name="fp_reply_from" value="freshercareers.online" />
          <div class="form-group row">
            <label for="fullname" class="col-4 col-form-label"
              >*Full Name</label
            >
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <em class="fa fa-address-card"></em>
                  </div>
                </div>
                <input
                  id="fullname"
                  name="fullname"
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-4 col-form-label">*Email</label>
            <div class="col-8">
              <input
                id="email"
                name="email"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="message" class="col-4 col-form-label">Mesage</label>
            <div class="col-8">
              <textarea
                id="message"
                name="message"
                cols="40"
                rows="5"
                class="form-control"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
