<div *ngIf="isLoading; else jobs">
  <app-loading></app-loading>
</div>

<ng-template #jobs>
  <section>
    <h1><b>Browse Latest posted jobs</b></h1>
    <div ngClass="job-collection">
      <div
        *ngFor="
          let item of jobcollection
            | paginate: { itemsPerPage: 6, currentPage: p };let i = index
        "
      >
        <app-cardview
          [jobcollection]="item"
          (click)="gotoPost('/post/', jobcollection[i])"
        ></app-cardview>
      </div>
    </div>
    <!-- <div ngClass="job-collection">
      <div
        *ngFor="
          let item of jobcollection
            | paginate: { itemsPerPage: 6, currentPage: p }
        "
      >
        <app-cardview
          [jobcollection]="item"
          (click)="gotoPost('/post/', item.id)"
        ></app-cardview>
      </div>
    </div> -->
    <mat-divider></mat-divider>
    <pagination-controls
      (pageChange)="p = $event"
      ngClass="pagination-controls"
    ></pagination-controls>
  </section>
</ng-template>
<!-- <ng-template #jobs>
  <section>
    <h1><b>Browse Latest posted jobs</b></h1>

    <div ngClass="job-collection">
      <div
        *ngFor="
          let item of jobcollection
            | paginate: { itemsPerPage: 6, currentPage: p }
        "
      >
        <app-cardview
          [jobcollection]="item"
          (click)="gotoPost('/post/', item.id)"
        ></app-cardview>
      </div>
    </div>
    <mat-divider></mat-divider>
    <pagination-controls
      (pageChange)="p = $event"
      ngClass="pagination-controls"
    ></pagination-controls>
  </section>
</ng-template> -->
